@model Infrastructure.DTOs.StudentDTO
<head>
</head>
<body>
    @if (ViewBag.errorNumbers > 0)
    {

        <div class="alert alert-danger">
            @foreach (var error in ViewBag.ErrorDetails)
            {
                <div>*@error</div>
                <br />


            }
        </div>



    }
   

    <form id="edit-std-form" class="edit-std-form" method="post" asp-action="UpdateStd">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    First Name
                    <input asp-for=FirstName class="form form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    Last Name
                    <input asp-for=LastName class="form form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    Social Number
                    <input type="text" asp-for=NationalId class="form form-control" maxlength="10" minlength="10" pattern="\d{10}" />
                    <span asp-validation-for="NationalId" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    Gender
                    <select asp-for=Gender class="form form-select">
                        <option value="">Select gender</option>
                        <option value="true">Male</option>
                        <option value="false">Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    Birth Place
                    <select asp-for=Governorate class="form form-select" asp-items="@(new SelectList(ViewBag.Governorates, "Id", "Name"))">
                        <option value="">Select a place</option>

                    </select>
                    <span asp-validation-for="Governorate" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    Birth Date
                    <input asp-for=BirthDate class="form form-control" type="date" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                

            </div>

            <div class="row">

                <div class="col-md-4">
                  <input class="btn btn-outline-info" type="submit" />

                    <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
                  

                </div>

                <div class="col-md-4">
                   
                    <input asp-for=Id class="form-control" hidden/>

                </div>
            </div>


        </div>
    </form>
  


</body>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}

<script>

       document.addEventListener('DOMContentLoaded',function(){

            var form=document.getElementById('edit-std-form');
           var inputs=document.querySelectorAll('.form');


           form.addEventListener('submit',function(e){
    var validationCounterCheck=0;
               e.preventDefault()
    inputs.forEach(input=>{
               if(input.value=='' || input.value==null){
                   validationCounterCheck++;

                 input.classList.add('is-invalid');
                 console.log(input);
               }
               else{
                   input.classList.remove('is-invalid');


                }



           });

    if(validationCounterCheck===0){

               form.submit();


           }
           });








       });
</script>
